# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Virtual env
venv/
.venv/

# Secrets — NUNCA commitear
.env
.env.local

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store

# Project
*.log
notebooks/.ipynb_checkpoints/
